* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: absolute;
    padding: 60px 0 30px 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}

header {
    background-color: #c6d9f0;
    display: flex;
    font-size: 0;
    max-width: 100%;
    align-items: center;
    height: 60px;
    margin-top: -60px;
}

.logo a {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-right: 20px;
}

.logo img {
    vertical-align: middle;
    height: 50px;
    padding: 5px;
    margin: 0 50px;
}

header .row {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 20%;
    margin-right: 30px;
}

header .col {
    margin: auto 0;
    display: flex;
}

.container {
    display: flex;
    height: 100%;
}

#System_Log {
    color: #7a9dd9;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.sidebar li {
    padding: 20px;
}

.sidebar nav a {
    text-decoration: none;
    font-size: 32px;
    color: #000;
}

.main {
    flex-grow: 1;
    background-color: #eff2f5;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
}

.main .row * {
    align-self: center;
    vertical-align: middle;
}

.main .option {
    background-color: #eff2f5;
    display: flex;
    color: #000;
    font-size: 20px;
    justify-content: space-between;
    padding: 5px;
}

.main .option * {
    display: flex;
}

.main .option .time * {
    margin: 0 5px;
}

.main .option .btn {
    background-color: #fff;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: 24px;
}

.main .option img {
    width: 30px;
    padding: 2px;
}

.main .option .search-btn {
    width: 30px;
}

.main .title {
    background-color: #b3c8e4;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 36px;
}

.main .list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    overflow: scroll;
}

.main .list table {
    width: 100%;
}

.main .list th,
td {
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
}

.main .page {
    display: flex;
    justify-content: flex-end;
}

.paginationjs.custom-paginationjs {
    font-size: 20px
}

.paginationjs.custom-paginationjs .paginationjs-pages li>a {
    min-width: 36px;
    height: 34px;
    line-height: 34px;
    font-size: 20px
}

.paginationjs.custom-paginationjs .paginationjs-pages li.active>a {
    height: 36px;
    line-height: 36px
}

.footer {
    width: 100%;
    background-color: #cfdbec;
    font-size: 0px;
    height: 30px;
    margin-bottom: -30px;
}

.footer .row {
    display: flex;
}

.footer .col {
    box-sizing: border-box;
    height: 30px;
    font-size: 14px;
    padding: 8px;
}

@media only screen and (max-width: 768px) {}