*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.wrapper{
    position: absolute;
    padding: 60px 0 30px 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}

header{
    background-color: #ccc;
    display: flex;
    font-size: 0;
    max-width: 100%;
    align-items: center;
    height: 60px;
    margin-top: -60px;
}

.logo a{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-right: 20px;
}

.logo img {
    vertical-align: middle;
    height: 50px;
    padding: 5px;
    margin: 0 50px;
}

header .row{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 20%;
    margin-right: 30px;
}

header .col{
    margin: auto 0;
}

.container{
    display: flex;
    height: 100%;
}

.sidebar{
    width: 20%;
    max-width: 15%;
}

#System_Log{
    color: #bbbd42;
}

.sidebar nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #666;
}

.sidebar li{
    padding: 20px;
}

.sidebar nav a{
    text-decoration: none;
    font-size: 32px;
    color: #eee;
}

.main{
    max-width: 85%;
    flex-grow: 1;
    background-color: #555;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.main .row *{
    align-self:center;
    vertical-align: middle;
}

.main .option{
    background-color: #7595ac;
    display: flex;
    color: #fff;
    font-size: 32px;
    justify-content: space-between;
    padding: 20px;
}

.main .option .btn{
    height: 36px;
    width: 140px;
    padding: 2px;
}

.main .option img{
    width: 100%;
    padding: 3px;
}

.main .option .search-btn{
    width: 3.5%;
}

.main .data {
    flex-grow: 1;
    background-color: #64849b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.footer{
    width: 100%;
    background-color: #bbb;
    font-size: 0px;
    height: 30px;
    margin-bottom: -30px;
}

.footer .row{
    display: flex;
}

.footer .col{
    box-sizing: border-box;
    height: 30px;
    font-size: 14px;
    padding: 8px;
}

@media only screen and (max-width: 768px) {

}
